AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignTrailingComments: true
BasedOnStyle: WebKit
ColumnLimit: 0
DerivePointerAlignment: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None
PointerAlignment: Right
QualifierAlignment: Right
