Checks: >
  bugprone-*,
  cert-*-c,
  clang-analyzer-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-declaration,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase

HeaderFilterRegex: "^src/cmd/malachi/.*\\.h$"
# Local Variables:
# mode: yaml
# End:
