name: CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update -yqq && sudo apt-get install -yqq --no-install-recommends \
            libmupdf-dev libfreetype-dev libsqlite3-dev \
            meson ninja-build
      - uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.compiler }}
      - run: meson setup build
        env:
          CC: ccache ${{ matrix.compiler }}
      - run: ninja -C build
      - run: ninja -C build test
      - run: build/malachi -v
  linux-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - run: nix build -L --accept-flake-config --no-link .#malachi-ascii
      - run: nix build -L --accept-flake-config .#malachi
      - run: result/bin/malachi -v
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          brew install meson mupdf
      - run: cc --version
      - run: meson setup build
      - run: ninja -C build
      - run: ninja -C build test
      - run: build/malachi -v
